.toggle {
  .nav {
    .nav-item {
      margin-left: 0.2rem;

      .nav-link {
        color: var(--extra-gray-color);
        border-radius: 0;
        cursor: pointer;
        border-color: none !important;
      }
    }
  }
}

.active {
  background: var(--white-color) !important;
  border-bottom: 2px solid var(--green-color) !important;
  border-color: none;
  color: var(--green-color) !important;
}

.nav-tabs {
  display: flex;
  gap: 0 15px;
  li {
    transform: translateY(2px);
    padding-bottom: 4px;
    cursor: pointer;

  }
  .nav-item.show .nav-link,
  .nav-link.active {
    border-color: transparent;
  }
  .tabs-item {
  }
}
